html, body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    background-color: black;
}

/* layout */

.container {
    background-image: url("img/table.png");
    width: 400px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

div.top {
    display: flex;
    gap: 0.75rem;
    align-self: flex-start;
}

div.top > p { align-self: center; }
h2 { margin: 10px; }

/* button */

button {
    background-color: #FFF100;
    cursor: pointer;
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
}

button#new-deck { align-self: flex-start; }
button.draw { align-self: stretch; }
button:disabled { cursor: not-allowed; }

/* image card */

div.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) { margin-bottom: 10px; }
img.card { width: 100%; }