* { box-sizing: border-box; }

/* LAYOUT */

body {
    margin: 0;
    background-color: #0B2434;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    background-color: #F5F5F5;
    height: 90vh;
    width: 85vw;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
}

/* TYPOGRAPHY */

.title {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.bold { font-weight: 700; }
i { color: #0B2434; }
p { margin: 0.5rem; }

/* DICE */

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    margin: 4rem auto;
    row-gap: 2rem;
}

.die-face {
    align-self: center;
    justify-self: center;
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ROLLDICE */

.roll-dice {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}

.roll-dice:focus { outline: none; }
.roll-dice:active { box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7); }