* { box-sizing: border-box; }

:root {
    --gray: #1F2937;
    --navy: #1F2937;
    --red: #991B1B;
    --yellow: #92400E;
    --green: #065F46;
    --blue: #1E40AF;
    --indigo: #3730A3;
    --purple: #5B21B6;
    --pink: #9D174D;
    --light-gray: #F3F4F6;
    --light-red: #FEE2E2;
    --light-yellow: #FEF3C7;
    --light-green: #D1FAE5;
    --light-blue: #DBEAFE;
    --light-indigo: #E0E7FF;
    --light-purple: #EDE9FE;
    --light-pink: #FCE7F3;

    --bg-success: #ECFDF5;
    --icon-success: #34D399;
    --title-success: #065F46;
    --text-success: #047857;

    --bg-warning: #FFFBEB;
    --icon-warning: #FBBF24;
    --title-warning: #92400E;
    --text-warning: #B45309;

    --bg-danger: #FEF2F2;
    --icon-danger: #F87171;
    --title-danger: #92400E;
    --text-danger: #B45309;

    --bg-info: #EFF6FF;
    --icon-info: #60A5FA;
    --title-info: #1E40AF;
    --text-info: #1C51B9;
}

body {
    background-color: #2f2f2f;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: Inter;
}

/***** STAR COMPONENTS *****/
.star.filled { color: orange; }
.star {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: color .5s ease-in-out;
    user-select: none;
    color: white;
}

/***** BUTTON COMPONENTS *****/
button:focus { outline: none; }
button {
    background-color: #E5E7EB;
    color: #4B5563;
    border: 1px solid #6B7280;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

button.button-lg { padding: 13px 25px; }
button.button-sm {
    padding: 7px 11px;
    font-size: 12px;
}

button.button-success {
    color: #047857;
    background-color: #ECFDF5;
    border-color: #047857;
}
 
button.button-warning {
    color: #FBBF24;
    background-color: #FFFBEB;
    border-color: #FBBF24;
}
 
button.button-danger {
    color: #F87171;
    background-color: #FEF2F2;
    border-color: #F87171;
}

/***** MENU COMPONENTS *****/

.menu {
    position: relative;
    display: inline-block;
}

.menu-button { background-color: white; }

.menu-dropdown {
    position: absolute;
    left: 0;
    margin-top: 3px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: white;
}

.menu-item {
    color: #4B5563;
    padding: .75rem;
    cursor: pointer;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.menu-item:hover { background-color: whitesmoke; }
.menu-item:not(:last-child) { border-bottom: 1px solid #6B7280; }

/***** BADGES COMPONENTS *****/
.badge { padding: 0.25rem 1rem; display: inline-block;}
.badge.badge-square { border-radius: 4px; }
.badge.badge-pill { border-radius: 12px; }
.badge.badge-sm { font-size: 0.75rem; }
.badge.badge-lg { 
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem; 
}

.badge.gray {
    background-color: var(--light-gray);
    color: var(--gray);
}

.badge.red {
    background-color: var(--light-red);
    color: var(--red);
}

.badge.yellow {
    background-color: var(--light-yellow);
    color: var(--yellow);
}

.badge.green {
    background-color: var(--light-green);
    color: var(--green);
}

.badge.blue {
    background-color: var(--light-blue);
    color: var(--blue);
}

.badge.indigo {
    background-color: var(--light-indigo);
    color: var(--indigo);
}

.badge.purple {
    background-color: var(--light-purple);
    color: var(--purple);
}

.badge.pink {
    background-color: var(--light-pink);
    color: var(--pink);
}

/***** NOTIFICATIONS COMPONENTS *****/
.noti { 
    padding: 1.25rem 2rem 1.25rem 1.25rem; 
    border-radius: 6px; 
    display: flex;
    gap: 1rem;
    font-size: 14px;
    width: 720px;
}
.noti-title { font-weight: 500; }
.noti-text { line-height: 1.5; }
.noti.success { background-color: var(--bg-success); }
.noti.success .noti-title { color: var(--title-success); }
.noti.success .noti-text { color: var(--text-success); }
.noti.success i { color: var(--icon-success); }
.noti.warning { background-color: var(--bg-warning); }
.noti.warning .noti-title { color: var(--title-warning); }
.noti.warning .noti-text { color: var(--text-warning); }
.noti.warning i { color: var(--icon-warning); }
.noti.danger { background-color: var(--bg-danger); }
.noti.danger .noti-title { color: var(--title-danger); }
.noti.danger .noti-text { color: var(--text-danger); }
.noti.danger i { color: var(--icon-danger); }
.noti.info { background-color: var(--bg-info); }
.noti.info .noti-title { color: var(--title-info); }
.noti.info .noti-text { color: var(--text-info); }
.noti.info i { color: var(--icon-info); }

/***** CARDS COMPONENTS *****/
.card {
    position: relative;
    width: 400px;
    margin-top: 2rem;
    border-radius: 0.5rem;
    background-color: #F9FAFB;
    padding: 0rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card.icon {
    position: absolute;
    background-color: #3F75FE;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
}

.card.icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #FFFFFF;
}

.card.text {
    line-height: 1.5rem;
    color: #6B7280;
    margin: 0;
}

.card.title { margin-top: 3rem; }

/***** AVATAR COMPONENTS *****/


body { background-color: #2F2F2F; }

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .3rem solid white;
}
.avatar > img { width: 100%; }
.avatar-icon { background-color: var(--navy); }
.avatar-letters {
    background-color: var(--red);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif;
}
.avatar > svg {
    height: 100%;
    width: 100%;
    transform: translateY(20px);
    color: whitesmoke;
}

.navy { background-color: #1F2937; }
.pink { background-color: #DA6AEC; }
.red { background-color: #F43F5E; }
.blue { background-color: #2F74DC; }
.green { background-color: #22CD90; }