@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Cursed Timer ULil;
}

body {
    margin: 0;
    background: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background: #34D399;
    color: #443850;
    font-family: Cursed Timer ULiL;
    border: 2px solid #443850;
    border-radius: 5px;
}

/***** LAYOUT *****/

.center-container {
    margin: 0 auto;
    max-width: 100%;
}

.score, 
.foul {
    display: flex;
    justify-content: center;
}

/***** SCORE *****/

.title {
    font-size: 1.6rem;
    color: #443850;
}

.point {
    font-family: Cursed Timer ULiL;
    background: #443850;
    color: #34D399;
    border-radius: 5px;
}

.point-btn button {
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
}

/***** BTN *****/

.large-btn {
    font-size: 4rem;
    padding: 1rem 0;
    margin: 1rem 2rem;
    width: 100px;
}

.small-btn {
    font-size: 2rem;
    padding: 0.75rem 1rem;
    margin: 1rem 3rem;
    width: 30px;
}

/***** NEW GAME *****/

.new-game button {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem; 
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.timer {
    font-family: Cursed Timer ULiL;
    color: #FBFBFF;
    text-shadow: 0 0 5px black;
    font-size: xx-large;
    margin: 1rem 0;
}