html, body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #1F2937;
}

/* utility */
.no-border { border: none; }
.d1d5db { color: #D1D5DB; }

/* header */

#header { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: 10vh;
    margin-bottom: 0;
}

input { width: 50px; height: 40px; }

select {
    width: 45%;
    background-color: #1F2937;
    border: 1px solid #D1D5DB;
    appearance: none;
}

button {
    font-weight: 700;
    background-color: #3D4B60;
}

select, button { 
    padding: 0.5rem 0.625rem;     
    border-radius: 5px;
}

/* main */

.color {
    height: calc(90vh / 5); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

@media (min-width: 768px) {
    .color-container { display: flex; }
    .color { width: 20%; height: 90vh; }
}