html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

img { width: 100%; }

/* typography */

a {
    font-size: 1rem;
    text-decoration: none;
    color: #090909;
    cursor: pointer;
}

nav a:focus, nav a:hover {
    font-weight: 700;
    color: brown;
}

p { margin: 0.325rem 0; }

/* header */

header nav {
    display: grid;
    grid-template-columns: 1.125rem 10rem auto 5rem 5rem;
    grid-template-areas: "icon main . home about";
    padding: 1.25rem;
}

nav i { grid-area: icon; align-self: center; }
nav .main-page { grid-area: main; font-weight: 700; }
nav .home-page { grid-area: home; justify-self: end; }
nav .about-page { grid-area: about; justify-self: end; }

footer {
    background-color: #202020;
    text-align: center;
    font-size: 0.875rem;
    padding: 1em;
}

footer p:first-child { color: #ECECEC; font-weight: 700; margin-bottom: 0;}
footer p:last-child { color: #D7D7D7; margin-top: 0; }

/* main */

.blog { padding: 4%;}

#main-blog {
    background-image: url("images/journal.jpeg");
    background-size: cover;
    color: #FFFFFF;
    padding: 30% 4% 4% 4%;
}

.blog-title { 
    margin: 0; 
    line-height: 1.25;
}

.blog-date {
    text-transform: uppercase;
}

/* button */

#view-more {
    border: none;
    background-color: #FFFFFF;
    text-decoration: underline;
    font-weight: 700;
    display: block;
    margin: 1em auto 3em auto;
    cursor: pointer;
}

#view-more:hover, #view-more:focus { color: brown; }