html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* typography */

h1, p { color: white; }
span { font-size: 1.5rem; font-weight: 400; }

/* image */

#logo {
    width: 25%;
    max-width: 100px;
    display: block;
    margin: 1.375rem auto;
}

button img { width: 60%; }
.badge img { 
    width: 30%; 
    transform: rotate(-35deg);
    padding-top: 2rem;
    display: none; 
}

/* layout */

body {
    display: grid;
    grid-template-areas: "logo" "content" "navigate";
    grid-template-rows: 10vh 80vh 10vh;
}

header { grid-area: logo; }
main { grid-area: content; }
footer { grid-area: navigate; border-top: 1.5px solid #D2D2D2;}

/* main */

#image-display {
    background-size: cover;
    width: 96%;
    height: 96%;
    margin: 2% auto;
    border-radius: 10px;
    box-shadow: 0 0 16px #999;
    display: grid;
    grid-template-areas: "." "title" "bio" "react";
    grid-template-rows: 58% 10% 12% 20%;
}

h1, p, #btn, .badge { padding: 1rem; }
h1 { grid-area: title; }
p { grid-area: bio; }
#btn { grid-area: react; align-self: center; justify-self: center; }

/* button */

button {
    background-color: transparent;
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
    max-width: 80px;
    max-height: 80px;
    box-shadow: 0 0 16px #999;
}

#cross-btn { border: solid 1px #E82D70; margin-right: 1.25rem; }
#heart-btn { border: solid 1px #00D894; margin-left: 1.25rem; }

#cross-btn:hover, #heart-btn:hover {
    transform: scale(1.25, 1.25);
    transition: 0.4s;
}

/* footer */

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

i {
    color: #888888;
    align-self: center;
    justify-self: center;
}